body {
  font-family: Arial, sans-serif;

  padding: 0;
  background-color: #f4f4f4;
}

.carousel-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-group {
  display: flex;
  width: 100%;
  flex: 0 0 100%;
  justify-content: space-around;
}

.card {
  width: 22%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  padding: 10px;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.card h3 {
  font-size: 1.2em;
  margin: 10px 0;
}

.card p {
  font-size: 0.9em;
  color: #555;
  margin-bottom: 10px;
}
.card a{
  text-decoration: none;
 color:  #212529;
}
.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  cursor: pointer;
}

.indicator.active {
  background-color: #007bff;
}